* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  background-color: #f4f4f4;
  color: #222;
  line-height: 1.6;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 35px;
}

header {
  background-color: black;
  color: white;
  padding: 5px 0;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
}

.body {
  background-color: rgb(220, 220, 220);
  text-align: center;
  padding-bottom: 50px;
}
h2 {
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 30px;
}
.sub-heading {
  color: rgb(60, 60, 60);
  font-size: 14px;
  padding-bottom: 20px;
}

section {
  display: flex;
  align-items: center;
}
.filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
}
.category,
.sort {
  display: flex;
  align-items: center;
  gap: 8px;
}
select,
.search {
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
}
.products {
  padding: 30px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 30px;
  max-width: 950px;
  margin: 0 auto;
  text-align: center;
}
.product-card {
  position: relative;
  background-color: #fff;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 220px;
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
}
.category-badge {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #f48535;
  color: white;
  font-size: 12px;
  font-weight: bold;
  z-index: 10;
}
.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}
.product-card h3 {
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.product-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}
.rating {
  color: #ffaa00;
  font-size: 18px;
  margin-bottom: 5px;
}
.price {
  font-size: 18px;
  font-weight: bold;
  color: #f48535;
  margin: 10px 0;
}
button {
  background-color: #f48535;
  color: white;
  border: none;
  margin-top: 5px;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #e55a00;
}
footer {
  background-color: black;
  color: rgb(233, 233, 233);
  text-align: center;
  padding: 15px;
  font-size: 14px;
}
